In [1]:
# imports
import re
import pandas as pd

<div class="alert alert-block alert-warning">
    <b>Mini-Exercise</b>
    
- Match the string 'c 1' using only meta-characters
- The returned list should have only one element in it
- Find 3 different syntax combinations

    
</div>

In [2]:
subject = 'c 1'

In [3]:
regexp = r'...'

re.findall(regexp, subject)

['c 1']

In [4]:
regexp = r'\w\s\d'

re.findall(regexp, subject)

['c 1']

In [5]:
regexp = r'\D\D\d'

re.findall(regexp, subject)

['c 1']

<div class='alert alert-warning'>
<b>Mini Exercise</b>
    
From the below string, find the following information:
- Find all the numbers
- Find the number that has exactly 5 digits
- Find numbers that has 4 or more digits
- Find the sentences contained in quotes
- Find `http://` or `https://`

In [6]:
subject = '''
Codeup, founded in 2014, is located at 600 Navarro St. 
Suite 350, San Antonio, TX 78230. 
tagline: "launch your career in tech!" 
You can find us online at http://codeup.com 
and our alumni portal is located at https://alumni.codeup.com
and "codeup is a great school"!
'''

subject = subject.replace('\n','')
subject

'Codeup, founded in 2014, is located at 600 Navarro St. Suite 350, San Antonio, TX 78230. tagline: "launch your career in tech!" You can find us online at http://codeup.com and our alumni portal is located at https://alumni.codeup.comand "codeup is a great school"!'

In [7]:
# Find all the numbers
regexp = r'\d+'

re.findall(regexp, subject)

['2014', '600', '350', '78230']

In [8]:
# Find the number that has exactly 5 digits
regexp = r'\d{5}'

re.findall(regexp, subject)

['78230']

In [9]:
# Find numbers that has 4 or more digits
regexp = r'\d{4,}'

re.findall(regexp, subject)

['2014', '78230']

In [10]:
# Find the sentences contained in quotes
regexp = r'".+?"'

re.findall(regexp, subject)

['"launch your career in tech!"', '"codeup is a great school"']

In [11]:
# Find `http://` or `https://`
# regexp = r'https*://'
regexp = r'http.+?//'

re.findall(regexp, subject)

['http://', 'https://']

<div class='alert alert-warning'>

<b>Mini Exercise</b>

Write regular expressions to find the following values

- Find any even numbers (regardless if its apart of a bigger number)
- Find entire numbers that are even
- Find 2 or more odd numbers in a row.
- Find all the capital letters
- Find all words that start with a capital letter

<div>

In [12]:
subject = '''
Codeup, founded in 2014, is located at 600 Navarro St. 
Suite 350, San Antonio, TX 78230. 
tagline: "launch your career in tech!" 
You can find us online at http://codeup.com 
and our alumni portal is located at https://alumni.codeup.com
and "codeup is a great school"!
'''

subject = subject.replace('\n','')
subject

'Codeup, founded in 2014, is located at 600 Navarro St. Suite 350, San Antonio, TX 78230. tagline: "launch your career in tech!" You can find us online at http://codeup.com and our alumni portal is located at https://alumni.codeup.comand "codeup is a great school"!'

In [13]:
# Find any even numbers (regardless if its apart of a bigger number)
regexp = r'[2468]'

re.findall(regexp, subject)

['2', '4', '6', '8', '2']

In [14]:
# Find entire numbers that are even
regexp = r'\d*[24680]\b'

re.findall(regexp, subject)

['2014', '600', '350', '78230']

In [15]:
# Find 2 or more odd numbers in a row.
regexp = r'[13579]{2,}'

re.findall(regexp, subject)

['35']

In [16]:
# Find all the capital letters
regexp = r'[A-Z]'

re.findall(regexp, subject)

['C', 'N', 'S', 'S', 'S', 'A', 'T', 'X', 'Y']

In [17]:
# Find all words that start with a capital letter
regexp = r'\b[A-Z]\w*'

re.findall(regexp, subject)

['Codeup', 'Navarro', 'St', 'Suite', 'San', 'Antonio', 'TX', 'You']

<div class='alert alert-warning'>

<b>Mini-Exercise</b>    

- Find the protocol, domain, and tld
- Edit your previous code with a non-capture group to remove the domain from your result

</div>

In [18]:
subject = '''
    You can find us on the web at https://codeup.com. Our ip address is 123.123.123.123 (maybe).
    '''

In [19]:
# Find the protocol, domain, and tld
regexp = r'(https)://(\w*)\.(\w+)'

re.findall(regexp, subject)

[('https', 'codeup', 'com')]

In [20]:
# Edit your previous code with a non-capture group to remove the domain from your result
regexp = r'(https)://(?:\w*)\.(\w+)'

re.findall(regexp, subject)

[('https', 'com')]

# Recap

re functions
- `re.findall()`:finds all substrings where the REGEX matches, returns a list
- `re.search()`: scans through a string, looking for any location where the RE matches; returns match object
    - `match.span()`
    - `match.group()`
    - `match.groups()`
    - `match.groupdict()`
- `re.sub()`:allows us to match a regex and substitute in a new substring for the match; returns string
- `re.compile()`:prepare a regular expression for use ahead of time, returns expression

flags
- `re.IGNORECASE`: ignore case
- `re.VERBOSE`: ignore whitespace


Meta-characters
- `\w`: any letter or number
- `\W`: anything that is *not* a letter or number
- `\d`: any digit
- `\D`: anything that is *not* a digit
- `\s` : any whitespace
-  `.` : anything

Repeating

- `{}`: custom number of repetitions
    - `{x}`: exactly x repetitions
    - `{x,}`: x or more
    - `{x,y}`: between x and y repetitions
- `*`: zero or more
- `+`: one or more
- `?`: optional / not greedy

Any/None

- `[]`: will match anything inside of
- `[^]`: will match anything NOT inside of
- `[-]`: will match a range of values inside of

Capture Groups

- `()`: grab what's contained in parentheses 
- `?:`: to ignore a capture group also called shy
- `?P`: to name a capture group
    - `(?P<name>name)`

Other
- `\`: escape character
- `\b`: word boundary, match begin/end of word
- `^`: match start of string
- `$`: match end of string

# Exercises

### 1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicitly mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [21]:
def is_vowel(subject):
    return bool(re.search(r'^[aeiou]$',subject,re.IGNORECASE))

In [22]:
is_vowel('v')

False

### 2. Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

> is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')

False

> is_valid_username('codeup')

True

> is_valid_username('Codeup')

False

> is_valid_username('codeup123')

True

> is_valid_username('1codeup')

False

In [23]:
def is_valid_username(subject):
    regexp = r'(^[a-z][a-z\d_]{0,31}$)'
    return bool(re.search(regexp,subject))

In [24]:
is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')

False

In [25]:
is_valid_username('codeup')

True

In [26]:
is_valid_username('Codeup')

False

In [27]:
is_valid_username('codeup123')

True

In [28]:
is_valid_username('1codeup')

False

In [29]:
is_valid_username('code_up')

True

### 3. Write a regular expression to capture phone numbers. It should match all of the following:

In [30]:
phone_numbers = ['(210) 867 5309',
                '+1 210.867.5309',
                '867-5309',
                '210-867-5309']

In [31]:
def capture_phone_numbers(subject):
    # regexp = r'(\+\d)?\s*\(*(\d{3})?.*(\d{3}).*(\d{4})$'
    regexp = r'.+\d+.?.\d+.\d+$'
    print(re.findall(regexp,subject,re.VERBOSE))

In [32]:
for pn in phone_numbers:
    capture_phone_numbers(pn)

['(210) 867 5309']
['+1 210.867.5309']
['867-5309']
['210-867-5309']

### 4. Use regular expressions to convert the dates below to the standardized year-month-day format.

In [33]:
dates = ['02/04/19',
        '02/05/19',
        '02/06/19',
        '02/07/19',
        '02/08/19',
        '02/09/19',
        '02/10/19']
dates

['02/04/19',
 '02/05/19',
 '02/06/19',
 '02/07/19',
 '02/08/19',
 '02/09/19',
 '02/10/19']

In [34]:
# regexp = r'(?P<month>[\d]{2})/(?P<day>[\d]{2})/(?P<year>[\d]{2})'
# dates_df = pd.DataFrame([re.search(re.compile(regexp,re.VERBOSE),date).groupdict() for date in dates],columns=['year','month','day'])
# for idx in dates_df.index:
#     print(f'{dates_df.iloc[idx].year}-{dates_df.iloc[idx].month}-{dates_df.iloc[idx].day}')
regexp = r'(\d{2})/(\d{2})/(\d{2})'
for date in dates:
    # print(re.findall(regexp,date))
    print(re.sub(regexp,r'20\3-\1-\2',date))

2019-02-04
2019-02-05
2019-02-06
2019-02-07
2019-02-08
2019-02-09
2019-02-10

### 5. Write a regex to extract the various parts of these log file lines:

In [35]:
log_files = ['GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
            'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
            'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58']
log_files

['GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58',
 'POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58',
 'GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58']

In [36]:
regexp = r'(?P<request>[A-Z]+)\s(?P<path>/[\S]+\s?)\s\[(?P<datetime>.+?)\]\s(?P<protocol>.+?)\s\{(?P<status>.+?)\}\s(?P<size>\d+)\s"(?P<tool>.+)"\s(?P<ip>.+)'
logs_df = pd.DataFrame([re.search(re.compile(regexp),log).groupdict() for log in log_files])
logs_df

,request,path,datetime,protocol,status,size,tool,ip
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58

## Bonus Exercise

### You can find a list of words on your mac at /usr/share/dict/words. Use this file to answer the following questions:

In [37]:
mac = pd.read_csv('/usr/share/dict/words',header=None,names=['words'],keep_default_na=False)
mac

             words
0                A
1                a
2               aa
3              aal
4            aalii
...            ...
235971      zythem
235972      Zythia
235973      zythum
235974     Zyzomys
235975  Zyzzogeton

[235976 rows x 1 columns]

In [38]:
mac.isna().sum()

words    0
dtype: int64

- How many words have at least 3 vowels?

In [39]:
n=0
for word in mac.words:
    # print(word)
    l=0
    for letter in re.findall(r'.',word):
        # print(letter)
        # regexp = r'[aeiouAEIOU]'
        # if re.search(regexp,subject)[0]==letter:
        if is_vowel(letter) == True:
            l+=1
        else:
            continue
    if l>2:
        n+=1
n

191423

- How many words have at least 3 vowels in a row?

In [40]:
n=0
for word in mac.words:
    regexp = r'[aeiouAEIOU]{3,}'
    if len(re.findall(regexp,word)) > 0:
        n+=1
    else:
        continue
n

6183

- How many words have at least 4 consonants in a row?

In [41]:
n=0
for word in mac.words:
    regexp = r'[^aeiouAEIOU]{4,}'
    if len(re.findall(regexp,word)) > 0:
        n+=1
    else:
        continue
n

19242

- How many words start and end with the same letter?

In [42]:
n=0
for word in mac.words:
    regexp = r'[a-zA-Z]'
    if re.findall(regexp,word)[0] == re.findall(regexp,word)[-1]:
        n+=1
    else:
        continue
n

9973

- How many words start and end with a vowel?

In [43]:
n=0
for word in mac.words:
    regexp = r'[a-zA-Z]'
    if re.findall(regexp,word)[0] in 'aeiouAEIOU' and re.findall(regexp,word)[-1] in 'aeiouAEIOU':
        n+=1
    else:
        continue
n

14673

- How many words contain the same letter 3 times in a row?

In [44]:
n=0
for word in mac.words:
    regexp = r'[a-zA-Z]{3}'
    if len(re.findall(regexp,word)) > 0:
        n+=1
    else:
        continue
n

235764

- What other interesting patterns in words can you find?